- project_overview_content = "## Diagrams\n"+CosmosysReqBase.show_graphs_pr(@project)
- if project_overview_content.present?
  .project-content.csysreqdiags.wiki.box
    = textilizable(project_overview_content)