<h2>CosmosysReqsController#report</h2>

<p>THIS WILL CREATE THE REPORTS OF THE PROJECT REQUIREMENTS IN THE REPO DIRECTORY.
IT WILL ALSO UPDATE THE DEPENDENCE AND HIERARCHY DIAGRAMS OF THE REDMINE</p>
<%= form_tag({:controller => 'cosmosys_reqs', :action => 'report', :project_id => @project.identifier}, :class => "tabular", :multipart => true) do %>

<%= submit_tag l(:button_report) %>

<% end %>