<h2>CosmosysReqsController#req_menu</h2>

<p>Actions:</p>
<p><%= link_to 'Tree', { :action => 'req_tree'}, :method => :get %></p>

<p><%= link_to 'Validation(not yet)', { :action => 'req_validate'}, :method => :get %></p>
<p><%= link_to 'Propagation(not yet)', { :action => 'req_propagate'}, :method => :get %></p>
