<h2>CosmosysReqsController#upload</h2>

<p>THIS WILL UPLOAD THE REQUPLOAD DOCUMENT OF THE REPO TO THE REDMINE.</p>
<%= form_tag({:controller => 'cosmosys_reqs', :action => 'upload'}, :class => "tabular", :multipart => true) do %>

<%= submit_tag l(:button_upload) %>

<% end %>