.reqtablink {
  background-color: lightblue;
  color: white;
  float: left;
  border: 1px;
  outline: none;
  cursor: pointer;
  width: 12em;
  border-color: darkblue;
  border-style: solid;
}

.reqtablink:hover {
  background-color: dodgerblue;
}

/* Style the tab content */
.reqtabcontent {
  color: rgb(31, 2, 58);
  display: block;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-color: gray;
  border-width: thin;
  background-color: white;  
}

.reqtabsContainer {
  overflow: hidden;
}