td.cf_1.string {
    font-weight: bold;
}
td.description {
    font-size: 100%;
    font-weight: bold;
}

.ReqDoc {
    border: 1px solid darkgrey;
    margin-left: 3px;
    margin-top: 2px;
}

.ReqDoc > h1 {
    text-align: right;
}

.ReqDoc > h2 {
    text-align: right;
}

.ReqDoc > h3 {
    text-align: right;
}

.ReqDoc > h4 {
    text-align: right;
}

.ReqDoc > h5 {
    text-align: right;
}

.ReqDoc > h6 {
    text-align: right;
}

.ReqDoc > h7 {
    text-align: right;
}

.ReqDoc > h8 {
    text-align: right;
}


.Infodescr{
	color: grey;
	font-sytyle: italic;
}

.ReqDocdescr{
	color: grey;
	font-style: italic;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 { 
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 { 
  display: block;
  font-size: .60em;
  margin-top: 2.50em;
  margin-bottom: 2.50em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
